



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #CE4882 0%, #FEC3C2 100%);
    background-repeat: repeat-x;
    width: 100%;
    height: 3600px;

   
}






header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 0rem 13rem;
    font-size: 20px;
    width: 100%;
    
}

 header nav ul {
    display: flex;
    list-style: none;
   
}

header nav ul li {
    color: white;
    font-weight: 500;
    padding: .5rem 2rem;
    float: left ;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

header nav ul li:hover {
    background-color: #7C284C ;
border-radius: 2rem;
}


header nav ul li a {
   position: relative;
   display: block;
margin: 0 15px;
text-decoration: none;
color: #fff;
letter-spacing: 2px;
font-weight: 500;
transition: 0.6s;
z-index: 100000;

}



header.sticky ul li a {
   color: #333;
}

.topnokta {
   display: inline-block;

}


.house {
    position: relative;  
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: .5%;
    
}

 div h1 {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    font-size: 64px;
    color: white;
    margin-left: 36%;
    margin-top: 33%;
    margin-right: 36%;
 }
 
 div h2 {
    position: absolute;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin-left: 46%;
    margin-top: 40%;
 }



 .avatar {
    
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -38%;
    margin-left: 44%;
 }
.yazıhakkımda {
    
   
   position: absolute;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: -24%;
    margin-left: 42.5%;

 }



.cloudleft {
    position: absolute;
    margin-top: -38%;
    margin-left: 15%;
}


.cloudright {
    position: absolute;
    margin-top: -31%;
    margin-left: 75%;
}

.ozyazı {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: -19%;
    margin-left: 18%;
    margin-right: 18%;
 }

 .yeteneklerım {
    position: absolute;
    margin-top: -5%;
    margin-left: 25%;
}
 
.çalısmlarım {
    position: absolute;
    margin-top: -5%;
    margin-left: 65%;
}

.ortabulut {
    position: absolute;
    margin-top: -2%;
    margin-left: 47%;
}
 
.yetenekyazı {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-top: 7%;
    margin-left: 22.5%;
}

.çalışmalarımyazı {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-top: 7%;
    margin-left: 63.5%;
}

.çalısmaacıklama {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 12%;
    margin-left: 57%;
    margin-right: 12%;
 }

 
 

 
 
 
 .figma {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 12%;
    margin-left: 12%;
 }
 .html {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 15.7%;
    margin-left: 12%;
 }

 .css {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 19.3%;
    margin-left: 12%;
 }

 .javascript {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 22.9%;
    margin-left: 12%;
 }

 .illustrator {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 26.5%;
    margin-left: 12%;
 }

 .photoshop {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-top: 30.2%;
    margin-left: 12%;
 }
 
 .iletişimavatar {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 37%;
    margin-left: 46%; 
 }

 .iletişimyazı {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 49%;
    margin-left: 46%;
 }

 .eposta {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 54%;
    margin-left: 38%;
 }

 .telefon {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 58.5%;
    margin-left: 41%;
 }
 
 .sosyelmedya {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 63%;
    margin-left: 41.5%;
 }

 .behanceresim {
    position: absolute;
    margin-top: 69.5%;
    margin-left: 25%;

 }

 .insagramresim {
    position: absolute;
    margin-top: 68.5%;
    margin-left: 40%;
 }

 .linkedinresim {
    position: absolute;
    margin-top: 68.5%;
    margin-left: 55%;
 }

 .dribbleresim {
    position: absolute;
    margin-top: 68.5%;
    margin-left: 70%;
 }

 .behance {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 76%;
    margin-left: 23.5%;
    
 }

 .insagram {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 76%;
    margin-left: 38.5%;
 }

 .linkedin {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 76%;
    margin-left: 53.5%;
 }

 .dribble {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 76%;
    margin-left: 68.7%;
 }

 .altbulutsag {
    position: absolute;
    margin-top: 54%;
    margin-left: 76.5%;
}

.altbulutsol {
    position: absolute;
    margin-top: 44%;
    margin-left: 16.5%;
}


footer {
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:#7C284C ;
    margin-top: 85%;
   
      
}


.son {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 41%;
    margin-top: 0%;
}

.figmabar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 12.7%;
    margin-left: 22.5%;
}

.htmlbar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 16.4%;
    margin-left: 22.5%;
}

.cssbar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    margin-left: 22.5%;
}

.javascrıptbar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 23.6%;
    margin-left: 22.5%;
}

.ılıstorotorbar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 27.2%;
    margin-left: 22.5%;
}

.photosopbar {
   position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 30.8%;
    margin-left: 22.5%;
}


@media (max-width: 1150px){
  .ısım {font-size: 50px;
  }
  .ıs {
   font-size: 30px;
  }
  .ozyazı {
   font-size: 18px;
  }
.çalısmaacıklama {
   font-size: 18px;
}
.figma {
   font-size: 20px;
}

.javascript {
   font-size: 18px;
}
.illustrator {
   font-size: 18px;
}
.photoshop {
   font-size: 18px;
}

.yeteneklerım {
width: 110px;
height: 123px;
}

.çalısmlarım {
   width: 110px;
height: 123px;
}

.avatar {
   width: 110px;
height: 123px;
}

.iletişimavatar {
   width: 110px;
height: 123px;
}

.yazıhakkımda {
   font-size: 24px;
}

.yetenekyazı {
   font-size: 24px;
}

.çalışmalarımyazı {
font-size: 24px;
}

.çalısmaacıklama {
   font-size: 18px;
}

.iletişimyazı {
   font-size: 24px;
}

.eposta {
   font-size: 18px;
}

.telefon {
   font-size: 18px;
}

.sosyelmedya {
   font-size: 24px;
}



}


